Cartfile.resolved
Carthage/**/*
ios.xcodeproj/project.xcworkspace/xcuserdata/lenniestockman.xcuserdatad/UserInterfaceState.xcuserstate
ios.xcodeproj/xcuserdata/lenniestockman.xcuserdatad/xcschemes/ios.xcscheme
ios.xcodeproj/xcuserdata/lenniestockman.xcuserdatad/xcschemes/xcschememanagement.plist
ios.xcworkspace/xcuserdata/lenniestockman.xcuserdatad/UserInterfaceState.xcuserstate
ios.xcworkspace/xcuserdata/lenniestockman.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Pods/**/*
IDEFindNavigatorScopes.plist
Podfile.lock
build/Pods.build/Debug-iphoneos/LGSideMenuController.build/dgph
build/Pods.build/Debug-iphoneos/LGSideMenuController.build/LGSideMenuController-all-non-framework-target-headers.hmap
build/Pods.build/Debug-iphoneos/LGSideMenuController.build/LGSideMenuController-all-target-headers.hmap
build/Pods.build/Debug-iphoneos/LGSideMenuController.build/LGSideMenuController-generated-files.hmap
build/Pods.build/Debug-iphoneos/LGSideMenuController.build/LGSideMenuController-own-target-headers.hmap
build/Pods.build/Debug-iphoneos/LGSideMenuController.build/LGSideMenuController-project-headers.hmap
build/Pods.build/Debug-iphoneos/LGSideMenuController.build/LGSideMenuController.hmap
build/Pods.build/Debug-iphoneos/LGSideMenuController.build/module.modulemap
build/Pods.build/Debug-iphoneos/LGSideMenuController.build/DerivedSources/LGSideMenuController_vers.c
build/Pods.build/Debug-iphoneos/LGSideMenuController.build/Objects-normal/arm64/LGSideMenuController.LinkFileList
build/Pods.build/Debug-iphoneos/LGSideMenuController.build/Objects-normal/armv7/LGSideMenuController.LinkFileList
build/Pods.build/Debug-iphoneos/PhoneNumberKit.build/dgph
build/Pods.build/Debug-iphoneos/PhoneNumberKit.build/module.modulemap
build/Pods.build/Debug-iphoneos/PhoneNumberKit.build/PhoneNumberKit-all-non-framework-target-headers.hmap
build/Pods.build/Debug-iphoneos/PhoneNumberKit.build/PhoneNumberKit-all-target-headers.hmap
build/Pods.build/Debug-iphoneos/PhoneNumberKit.build/PhoneNumberKit-generated-files.hmap
build/Pods.build/Debug-iphoneos/PhoneNumberKit.build/PhoneNumberKit-own-target-headers.hmap
build/Pods.build/Debug-iphoneos/PhoneNumberKit.build/PhoneNumberKit-project-headers.hmap
build/Pods.build/Debug-iphoneos/PhoneNumberKit.build/PhoneNumberKit.hmap
build/Pods.build/Debug-iphoneos/PhoneNumberKit.build/swift-overrides.hmap
build/Pods.build/Debug-iphoneos/PhoneNumberKit.build/unextended-module-overlay.yaml
build/Pods.build/Debug-iphoneos/PhoneNumberKit.build/unextended-module.modulemap
build/Pods.build/Debug-iphoneos/PhoneNumberKit.build/DerivedSources/PhoneNumberKit_vers.c
build/Pods.build/Debug-iphoneos/PhoneNumberKit.build/Objects-normal/arm64/PhoneNumberKit-OutputFileMap.json
build/Pods.build/Debug-iphoneos/PhoneNumberKit.build/Objects-normal/arm64/PhoneNumberKit.LinkFileList
build/Pods.build/Debug-iphoneos/PhoneNumberKit.build/Objects-normal/armv7/PhoneNumberKit-OutputFileMap.json
build/Pods.build/Debug-iphoneos/PhoneNumberKit.build/Objects-normal/armv7/PhoneNumberKit.LinkFileList
build/Pods.build/Debug-iphoneos/Pods-ios.build/dgph
build/Pods.build/Debug-iphoneos/Pods-ios.build/module.modulemap
build/Pods.build/Debug-iphoneos/Pods-ios.build/Pods_ios-all-non-framework-target-headers.hmap
build/Pods.build/Debug-iphoneos/Pods-ios.build/Pods_ios-all-target-headers.hmap
build/Pods.build/Debug-iphoneos/Pods-ios.build/Pods_ios-generated-files.hmap
build/Pods.build/Debug-iphoneos/Pods-ios.build/Pods_ios-own-target-headers.hmap
build/Pods.build/Debug-iphoneos/Pods-ios.build/Pods_ios-project-headers.hmap
build/Pods.build/Debug-iphoneos/Pods-ios.build/Pods_ios.hmap
build/Pods.build/Debug-iphoneos/Pods-ios.build/DerivedSources/Pods_ios_vers.c
build/Pods.build/Debug-iphoneos/Pods-ios.build/Objects-normal/arm64/Pods_ios.LinkFileList
build/Pods.build/Debug-iphoneos/Pods-ios.build/Objects-normal/armv7/Pods_ios.LinkFileList
build/Pods.build/Debug-iphoneos/SVProgressHUD.build/dgph
build/Pods.build/Debug-iphoneos/SVProgressHUD.build/module.modulemap
build/Pods.build/Debug-iphoneos/SVProgressHUD.build/SVProgressHUD-all-non-framework-target-headers.hmap
build/Pods.build/Debug-iphoneos/SVProgressHUD.build/SVProgressHUD-all-target-headers.hmap
build/Pods.build/Debug-iphoneos/SVProgressHUD.build/SVProgressHUD-generated-files.hmap
build/Pods.build/Debug-iphoneos/SVProgressHUD.build/SVProgressHUD-own-target-headers.hmap
build/Pods.build/Debug-iphoneos/SVProgressHUD.build/SVProgressHUD-project-headers.hmap
build/Pods.build/Debug-iphoneos/SVProgressHUD.build/SVProgressHUD.hmap
build/Pods.build/Debug-iphoneos/SVProgressHUD.build/DerivedSources/SVProgressHUD_vers.c
build/Pods.build/Debug-iphoneos/SVProgressHUD.build/Objects-normal/arm64/SVProgressHUD.LinkFileList
build/Pods.build/Debug-iphoneos/SVProgressHUD.build/Objects-normal/armv7/SVProgressHUD.LinkFileList
build/Pods.build/Debug-iphoneos/SwiftClient.build/dgph
build/Pods.build/Debug-iphoneos/SwiftClient.build/module.modulemap
build/Pods.build/Debug-iphoneos/SwiftClient.build/swift-overrides.hmap
build/Pods.build/Debug-iphoneos/SwiftClient.build/SwiftClient-all-non-framework-target-headers.hmap
build/Pods.build/Debug-iphoneos/SwiftClient.build/SwiftClient-all-target-headers.hmap
build/Pods.build/Debug-iphoneos/SwiftClient.build/SwiftClient-generated-files.hmap
build/Pods.build/Debug-iphoneos/SwiftClient.build/SwiftClient-own-target-headers.hmap
build/Pods.build/Debug-iphoneos/SwiftClient.build/SwiftClient-project-headers.hmap
build/Pods.build/Debug-iphoneos/SwiftClient.build/SwiftClient.hmap
build/Pods.build/Debug-iphoneos/SwiftClient.build/unextended-module-overlay.yaml
build/Pods.build/Debug-iphoneos/SwiftClient.build/unextended-module.modulemap
build/Pods.build/Debug-iphoneos/SwiftClient.build/DerivedSources/SwiftClient_vers.c
build/Pods.build/Debug-iphoneos/SwiftClient.build/Objects-normal/arm64/SwiftClient-OutputFileMap.json
build/Pods.build/Debug-iphoneos/SwiftClient.build/Objects-normal/arm64/SwiftClient.LinkFileList
build/Pods.build/Debug-iphoneos/SwiftClient.build/Objects-normal/armv7/SwiftClient-OutputFileMap.json
build/Pods.build/Debug-iphoneos/SwiftClient.build/Objects-normal/armv7/SwiftClient.LinkFileList
ios.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
ios.xcworkspace/xcuserdata/nico.xcuserdatad/UserInterfaceState.xcuserstate
ios.xcworkspace/xcuserdata/nico.xcuserdatad/WorkspaceSettings.xcsettings
ios.xcworkspace/xcuserdata
ios.xcworkspace/xcshareddata
.DS_Store
ios.xcodeproj/project.xcworkspace/xcuserdata
*.xcuserstate
