Cartfile.resolved
Carthage/**/*
ios.xcodeproj/project.xcworkspace/xcuserdata/lenniestockman.xcuserdatad/UserInterfaceState.xcuserstate
ios.xcodeproj/xcuserdata/lenniestockman.xcuserdatad/xcschemes/ios.xcscheme
ios.xcodeproj/xcuserdata/lenniestockman.xcuserdatad/xcschemes/xcschememanagement.plist
ios.xcworkspace/xcuserdata/lenniestockman.xcuserdatad/UserInterfaceState.xcuserstate
ios.xcworkspace/xcuserdata/lenniestockman.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
